// Specific CSS for your home-page
a {
  color: white;
}

a:hover {
  text-decoration: none;
  color: #BA274A;
}

.navbar-lewagon {
  justify-content: space-between;
  background: #6874E8;
  position: sticky;
  top: 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.img {
  height: 50px;
}

body {
  background-color: #DCDFF9;
}

.card-category {
  background-size: fixed;
  background-position: center;
  width: 300px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 10px;
}

.block {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
  color: #BA274A;
  font-weight: bold;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  background-repeat: no-repeat;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/b/bb/Cocktails_juice_%28Unsplash%29.jpg");
  width: 100vw;
}

.container h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.container p {
  font-size: 20px;
  color: black;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-weight: bold;
  background-color: #BA274A;
}

.dropdown-menu {
  background-color: #BA274A;
}

.container h1 {
  text-align: left;
  color: #BA274A;
  padding-bottom: 15px;
}

.container #banner-typed-text {
  color: #BA274A;
  font-weight: bold;
  font-size: 30px;
  background-color: black;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #DCDFF9;
  padding-top: 15px;
}
